<header class="ws-header">
  <section class="brand">
    <img src="assets/img/14. Home-Workspaces.svg" alt="DABubble" class="logo" />
  </section>

  <section class="search">
    <input
      matInput
      [formControl]="searchCtrl"
      placeholder="Devspace durchsuchen"
      autocomplete="off"
      aria-label="Suche"
    />
    <mat-icon matPrefix>search</mat-icon>
  </section>

  <section>
    <section class="user" [matMenuTriggerFor]="userMenu">
      <span class="name">{{ (user$ | async)?.name }}</span>

      <div class="avatar-wrap">
        <img
          class="avatar"
          [src]="(user$ | async)?.avatar"
          (error)="fallbackAvatar($event)"
          [alt]="(user$ | async)?.name || 'Avatar'"
        />
        <span class="status" [class.online]="(user$ | async)?.online"></span>
      </div>

      <mat-icon class="expand-icon">expand_more</mat-icon>
    </section>

    <mat-menu
      #userMenu="matMenu"
      xPosition="after"
      yPosition="below"
      [overlapTrigger]="false"
      #menu="matMenu"
      panelClass="user-menu-panel"
    >
      <button mat-menu-item class="menu-item" (click)="openProfil()">Profil</button>
      <button mat-menu-item class="menu-item" (click)="logout()">Log out</button>
    </mat-menu>
  </section>
</header>
