@use 'mixins';
@use 'variables';

@media (max-width: 1040px) {
  .name {
    display: none;
  }

  .user {
    margin-right: 20px;
    gap: 5px;
  }
}

@media (max-width: 800px) {
  .search {
    display: none;
  }

  .ws-header {
    padding-left: 20px;
  }

  .expand-icon {
    display: none;
  }

  .user-menu-dialog .menu-card {
    width: 350px;
  }
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 15px 16px;
}

.go-to-devspace {
  display: flex;
  align-items: center;
  gap: 2px;
  background: none;
  border: none;
  cursor: pointer;

  > img {
    margin-right: 8px;
  }
  > span {
    @include mixins.text-style(
      $size: 24px,
      $color: #000000,
      $font-weight: 700,
      $font-family: 'Nunito',
      $line-height: 1
    );
  }
}


@media (max-width: 950px) {
  .brand .logo {
    height: 64px;
  }

  .name {
    font-size: 24px;
  }

  .avatar-wrap {
    height: 64px;
    width: 64px;

    .status {
      width: 8px;
      height: 8px;
    }
  }
}

@media (max-width: 560px) {
  .go-to-devspace {
    .logo-icon {
      height: 48px;
      width: auto;
    }

    span {
      font-size: 22px;
    }

    > img {
      margin-right: 4px;
    }
  }

  .mobile-header {
    padding: 10px 12px;
    height: 10vh;
  }
  .brand .logo {
    height: 56px;
  }

  .name {
    font-size: 24px;
  }

  .avatar-wrap {
    height: 60px;
    width: 60px;

    .status {
      width: 8px;
      height: 8px;
    }
  }
}

@media (max-width: 400px) {
  .mobile-header {
    padding: 8px 10px;
    height: 12vh;
  }

    .brand .logo {
    height: 50px;
  }

}
