.ws-header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.brand .Logo {
  height: 70px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 989px;
  background-color: #ffffff;
  border-radius: 42px;
  padding: 17.5px 45px;
}

input {
  border: none;
  outline: none;
  width: 400px;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px ;
  background: transparent;
  border: 0;
  padding: 0;
  min-width: 0;
  cursor: pointer;
}

.user:hover .name,
.user:hover .expand-icon {
  color: #797EF3;
}

.name {
  height: 32px;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  transition: color .1s ease;
}

.avatar-wrap{
  position:relative;
  width:70px; 
  height:70px; 

  .avatar{
    width:100%; 
    height:100%;
    border-radius:50%;
    object-fit:cover; 
    display:block;
  }
  .status{
    position:absolute;
    right:2px; 
    bottom:2px;            
    width:14px; 
    height:14px;
    border-radius:50%;
    border:2px solid #fff;
    background:#686868;
    &.online{ 
      background:#92C83E; 
    }
  }
}

.expand-icon {
  font-size: 28px;
  line-height: 1;  
  color: #000;
  transition: color .1s ease;
}

::ng-deep .user-menu-panel.mat-mdc-menu-panel {
  width: 181px !important;
  height: 282px !important;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  padding: 0 !important;
  overflow: hidden !important; /* verhindert Scrollbars */
}

::ng-deep .user-menu-panel .mat-mdc-menu-content {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* gleichmäßig verteilen */
  padding: 0 !important;
}

::ng-deep .user-menu-panel .mdc-list-item {
  min-height: unset !important;
  height: 50%; /* bei 2 Items → 50 % Höhe */
  justify-content: center;
  text-align: center;
}

::ng-deep .user-menu-panel .mdc-list-item__primary-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

::ng-deep .user-menu-panel .mdc-list-item:hover .mdc-list-item__primary-text {
  color: #797EF3;
}