<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2># {{ data?.channel?.name || 'Channel' }}</h2>
            <h3 class="close" (click)="closeModal()">&times;</h3>
        </div>
        <div class="modal-containers margin-bottom">
            <div class="modal-edit-header">
                <h3>Channel-Name</h3>
                <a>Edit</a>
            </div>
            <div class="modal-edit-name-content">
                <p># <span>{{ data?.channel?.name || '' }}</span></p>
            </div>
        </div>
        <div class="modal-containers">
            <div class="modal-edit-header">
                <h3>Description</h3>
                <a>Edit</a>
            </div>
            <div class="modal-edit-description-content">
                <p>{{ data?.channel?.description || 'Keine Beschreibung' }}</p>
            </div>
            <div class="modal-seperator">
                <div class="seperator"></div>
            </div>
            <div class="modal-info">
                <p>Made from</p>
                <b>{{ data?.channel?.createdBy || 'Unknown' }}</b>
            </div>
        </div>
        <div class="button-container">
            <button (click)="closeModal()">Schließen</button>
        </div>
    </div>
</div>