.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  font-family: "nunito";
}

.modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 800px;
  height: auto;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin: 0px;
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: #000000;
  }
}

.close {
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.modal-containers {
  border: 1px solid #ADB0D9;
  border-radius: 32px;
  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin: 0px;
  }
  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #535AF1;
    cursor: pointer;
  }
}

.margin-bottom {
  margin-bottom: 16px;
}

.modal-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 8px 16px;
}

.modal-edit-name-content {
  padding: 0 16px 0 16px;
  p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
  }
  span {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
}

.modal-edit-description-content {
  padding: 0 16px 0 16px;
  p {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
}

.modal-seperator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seperator {
  border-bottom: 1px solid #ADB0D9;
  margin: 16px 0;
  width: 90%;
}

.modal-info {
  padding: 0 16px 16px 16px;
  p {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }
  b {
    font-size: 24px;
    font-weight: 400;
    color: #535AF1;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

