@media (max-width: 950px) {
  .chat-header {
    border-radius: 0;
  }

  .chat-header {
    padding: 0px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
    .chat-header {
    height: 56px;
  }
}