@media (max-width: 950px) {
  .chat-header {
    border-radius: 0;
  }

  .chat-header {
    padding: 0px;
  }

  .footer {
    width: 100%;
    padding: 0 16px 30px 16px;
  }
}

@media (max-width: 560px) {
  .header-person-name {
    font-size: 20px;
    max-width: 200px;
  }
  .chat-header {
    height: 64px;
    padding: 0 8px 0 8px;
  }

  .footer {
    width: 100%;
    padding: 0 8px 8px 8px;
  }
}

@media (max-width: 500px) {
  .avatar-wrapper {
    width: 80px;
    height: 80px;
  }

  .avatar-figure {
    gap: 8px;
  }

  .avatar-caption {
    font-size: 21px;
    max-width: 180px;
  }

  .recipient-tag {
    max-width: 200px;
  }

  .chat-info {
    font-size: 17px;
  }

  .footer {
    padding: 0 8px 8px 8px;
  }
}

@media (max-width: 360px) {
  .recipient-tag {
    max-width: 140px;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .chat-header {
    height: 56px;
  }

  .footer {
    padding: 0 35px 4px 35px;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .chat-header {
    height: 50px;
  }

  .timestamp-block {
    margin: 0 !important;
  }

  .header-person-name {
    max-width: 300px;
  }

  .avatar-caption {
    max-width: 200px;
  }
}
