@use 'mixins';

@use '../chat-interface-styles' as chat;

@include chat.chat-interface-base;

:host {
  height: 100%;
  width: 100%;
}

.chat-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 20px;
  height: 96px;
  width: 100%;
  padding: 0 45px 0;
  box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.dm-info-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  @include mixins.text-style(
    $size: 24px,
    $color: #000000,
    $font-weight: 700,
    $font-family: 'Nunito',
    $line-height: 1
  );
}

.add-member-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    transition: all 125ms ease-in-out;
    path {
      fill: #535af1;
    }
  }
}

.header-person-name {
  @include mixins.text-style(
    $size: 24px,
    $color: #000000,
    $font-weight: 700,
    $font-family: 'Nunito',
    $line-height: 1
  );
}

.channel-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer {
  width: 100%;
  padding: 0 35px 40px 35px;
  box-sizing: border-box;
}

.avatar-wrapper {
  position: relative;
  width: 100px;
  height: 100px;

  > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.avatar-figure {
  display: flex;
  align-items: end;
  gap: 25px;
  margin: 0;
}

.avatar-caption {
  @include mixins.text-style(
    $size: 24px,
    $color: #000000,
    $font-weight: 700,
    $font-family: 'Nunito',
    $line-height: 1
  );
  transition: color 125ms ease-in-out;

  &:hover {
    color: #535af1;
  }
}

.chat-info {
  line-height: 140%;
  width: 90%;
  @include mixins.text-style(
    $size: 20px,
    $color: #686868,
    $font-weight: 400,
    $font-family: 'Nunito'
  );

  > span {
    @include mixins.text-style(
      $size: 20px,
      $color: #686868,
      $font-weight: 700,
      $font-family: 'Nunito',
      $line-height: 1
    );
  }
}

.recipient-tag {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  @include mixins.text-style(
    $size: 20px,
    $color: #535af1,
    $font-weight: 400,
    $font-family: 'Nunito',
    $line-height: 1.4
  );

  &:hover {
    font-weight: 700;
  }
}

.avatar-figure-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header-avatar-wrapper {
  position: relative;
  width: 40px;
  height: 40px;

  > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.header-avatar-figure {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  background-color: transparent;
  padding: 4px 20px 4px;
  border-radius: 35px;
  transition: all 125ms ease-in-out;

  &:hover {
    background-color: #eceefe;
  }
}

.message-item {
  width: 100%;
}

.message-timestamp {
  @include mixins.text-style(
    $size: 18px,
    $color: #000000,
    $font-weight: 400,
    $font-family: 'Nunito',
    $line-height: 1
  );
  white-space: nowrap;
}

.timestamp-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.timestamp-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.timestamp-bubble {
  border-radius: 30px;
  padding: 5px 15px;
  border: 1px solid #ADB0D9;
}

.message {
  margin-left: 24px;
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
  padding: 0 35px 20px 35px;
}
}