@import 'mixins';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef0fc;
}

.dialog-login {
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 4px 32px 0 rgba(160, 170, 255, 0.1);
  padding: 40px;
  max-width: 420px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.dialog-login__title {
  text-align: center;
  margin-bottom: 12px;
  @include text-style($size: 46px, $color: #444df2, $font-weight: 700, $font-family: 'Nunito');
}

.dialog-login__subtitle {
  text-align: center;
  margin-bottom: 10px;
  @include text-style($size: 20px, $color: #000000, $font-weight: 400, $font-family: 'Nunito');
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dialog-login__forgot {
  display: block;
  text-align: center;
  margin: 40px 0 32px;
  color: #4863ed;
  text-decoration: none;
  @include text-style($size: 18px, $color: #797ef3, $font-weight: 400, $font-family: 'Figtree');
  cursor: pointer;
  transition: color 125ms ease-in-out;
  &:hover {
    color: #3247b7;
  }
}

.dialog-login__divider {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 0 32px;
  font-size: 1rem;
  color: #222;
  font-weight: 500;
  .line {
    flex: 1;
    height: 1px;
    background: #ADB0D9;
  }
  .text {
    flex-shrink: 0;
    @include text-style($size: 18px, $color: #000000, $font-weight: 400, $font-family: 'Nunito', $line-height: 100%);
  }
}

.google-login-row {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #eef0fc;
  border-radius: 32px;
  padding: 0 22px;
  margin: 0  0 40px;
  height: 56px;
  cursor: pointer;
  transition: background 0.15s;
  &:hover {
    background: #e0e4fa;
  }
  .google-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .google-text {
    font-size: 1.1rem;
    color: #222;
    font-weight: 500;
  }
}

.dialog-login__actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 18px;
}

.btn {
  min-width: 140px;
  height: 48px;
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.15s, color 0.15s, border 0.15s;
  outline: none;
  border: none;
  box-shadow: none;
  &--primary {
    @include primary-button();
  }
  &--secondary {
    @include secondary-button();
  }
}
