@media (max-width: 950px) {
  .chat-header {
    border-radius: 0;
    padding: 10px;
  }

  .avatar-stack{
    display: none;
  }

  .footer {
    width: 100%;
    padding: 0 16px 30px 16px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
    .chat-header {
    height: 56px;
  }
}
