<mat-dialog-content class="dialog-user-card-container" >
  <header class="dialog-user-card-header-container">
    <h2 class="h2-dialog-user" mat-dialog-title>Profil</h2>
    <img class="close-icon" mat-dialog-close src="assets/img/close-icon.png" alt="" />
  </header>
  <figure class="user-profil-image-container">
    <img src="assets/profil img/fashion-1844724_640.jpg" alt="user-profil-image">
  </figure>
  <main class="main-container-user-dialog">
    <section class="mat-typography">
      <h3>Elise Roth</h3>
      <p>Abwesend</p>
        <div class="info-email-container">
            <img src="assets/img/mail-icon.png" alt="">
            <h3>E-Mail-Adresse</h3>
        </div>
        <a href="">rothelise@beispiel.com</a>
    </section>
  </main>
  <mat-dialog-actions>
    <button class="user-card-btn" matButton><img src="assets/img/message-icon.png" alt="">Nachricht</button>
  </mat-dialog-actions>
</mat-dialog-content>
