@use 'mixins';
@use 'variables';
@use '../../sidenav-shared' as *;

app-contact-item {
  display: block;
  min-width: 0;
  width: 100%;
}

.section-toggle-button {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 125ms ease-in-out;

  &:hover {
    .section-toggle-arrow,
    .section-title-icon {
      path {
        fill: $color-brand;
      }
    }

    .section-title-text {
      color: $color-brand;
    }
  }

  &[aria-expanded='true'] {
    .section-toggle-arrow {
      transition: transform 125ms ease-in-out;
      transform: rotate(-90deg);
    }
  }
}

.contact-item-anker {
  display: block;
  text-decoration: none;
  min-width: 0;
  width: 100%;

  &.is-active .contact {
    ::ng-deep .dm-item {
      background-color: $color-dm-hover;
      span {
        color: #444df2;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 950px) {
  .dm-toggle-button {
    grid-column: 1 / 3;
    justify-self: start;
  }

  .contact-item-anker {
    display: block;
    text-decoration: none;
    min-width: 0;
    width: 100%;

    &.is-active .contact {
      ::ng-deep .dm-item {
        background-color: transparent;
        &:hover {
          background-color: $color-dm-hover;
          span {
            color: #444df2;
            font-weight: 700;
          }
        }
        span {
          color: $color-text;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 950px) {
}

@media (max-width: 730px) {
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}
