@media (max-height: 1050px) {
  .avatar-select-card {
    margin-top: 0px;
  }

  .dialog-authentication-header {
    height: 76px;
    width: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dialog-authentication-title {
    font-size: 36px;
  }

  .avatar-list-title {
    margin-left: 40px;
  }

  .avatar-image {
    width: 52px;
    height: 52px;
  }
}

@media (max-width: 750px) {

  .dialog-authentication-back-arrow {
    top: 70px;
  }

  .dialog-authentication-header {
    height: 76px;
    width: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dialog-authentication-title {
    font-size: 36px;
  }

  .avatar-list-title {
    margin-left: 40px;
  }

  .avatar-image {
    width: 52px;
    height: 52px;
  }
}

@media (max-width: 600px) {
  .avatar-select-card {
    padding: 30px;
  }

  .dialog-authentication-back-arrow {
    top: 50px;
  }

  .dialog-authentication-header {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-card-actions {
    margin-top: 40px;
  }

  mat-card-content {
    width: 100%;
  }

  .dialog-authentication-title {
    font-size: 32px;

    span {
      display: block;
    }
  }

  .avatar-list-title {
    font-size: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 460px) {
  .avatar-select-card {
    box-sizing: border-box;
    padding: 24px 16px;
  }
}

@media (max-width: 440px) {
  .profile-picture-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  mat-card-actions {
    margin-top: 20px;
  }

  .dialog-authentication-title {
    font-size: 30px;
  }
}

@media (max-width: 395px) {
  .dialog-authentication-back-arrow {
    left: 8px;
    top: 45px;
  }

  .profile-picture-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
}

::ng-deep .in-workspace {
  @media (orientation: landscape) and (max-height: 700px) {
    max-width: 100svw;
    width: 100svw;
    height: 100svh;
    padding: 0;

    .avatar-select-card {
      width: 100%;
      height: 100%;
      border-radius: 0;
      box-sizing: border-box;
      overflow-y: auto;
      padding: 24px 32px 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .dialog-authentication-back-arrow {
      top: 30px;
    }

    .profile-picture-container {
      margin-bottom: 0px;
      margin-top: 20px;
    }
  }
}

