.avatar-select-card {
  background-color: white;
  border-radius: 30px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: clamp(300px, 80vw, 600px);
  margin-top: 60px;
  position: relative;
}

.dialog-authentication-header {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.dialog-authentication-back-arrow {
  cursor: pointer;
}

.dialog-authentication-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 32px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 !important;
}

.profile-picture-container {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 32px;

}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}

.avatar-list-title {
  align-self: flex-start;
}

.avatar-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid transparent;
  transition: border-color 0.2s;

  &:hover {
    border-color: #eceefe;
  }

  &.selected {
    border-color: var(--purple-1);
  }
}

mat-card-actions {
  padding: 0 !important;
  display: flex;
  justify-content: flex-end;
}

.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 2;
  border-radius: 30px;
}
