<section class="dialog-user-card-container">
  <header class="dialog-user-card-header-container">
    <h2 class="h2-dialog-user">Profil</h2>
    <img class="close-icon" mat-dialog-close src="assets/img/icons/close-icon.png" alt="" />
  </header>

  <figure class="user-profil-image-container">
    <img src="assets/profil img/fashion-1844724_640.jpg" alt="user-profil-image" />
  </figure>

  <section class="info-name-status-container">
    <h3>Elise Roth</h3>
    <p>Abwesend</p>
  </section>

  <section class="info-email-container">
      <div class="email-header">
        <img src="assets/img/icons/mail-icon.png" alt="" />
        <h3>E-Mail-Adresse</h3>
      </div>
      <div>
        <a href="">rothelise@beispiel.com</a>
      </div>
  </section>

</section>

