@use 'mixins';
@use 'variables';

@media (max-height: 1050px) {
  .dialog-login {
    padding: 30px 60px;
    height: 552px;
  }

  .dialog-login__title {
    height: 38px;
    @include mixins.text-style(
      $size: 42px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 25px;
    width: 420px;
    @include mixins.text-style(
      $size: 18px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 420px;
    gap: 30px;
    margin-top: 25px;
  }

  .dialog-login__forgot {
    margin: 0;
    color: #4863ed;
    text-decoration: none;
    @include mixins.text-style(
      $size: 18px,
      $color: #797ef3,
      $font-weight: 400,
      $font-family: 'Figtree'
    );
  }

  .password-forgotten {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }

  .dialog-login__divider {
    margin-top: 25px;
    .text {
      flex-shrink: 0;
      @include mixins.text-style(
        $size: 17px,
        $color: #000000,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 100%
      );
    }
  }

  .google-login-row {
    margin-top: 25px;
    height: 50px;

    .google-icon {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-text {
      transition: font-weight 125ms ease-in-out;
      @include mixins.text-style(
        $size: 18px,
        $color: #444df2,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 120%
      );
    }
  }

  .dialog-login__actions {
    gap: 30px;
    margin-top: 30px;
  }

  .btn {
    min-width: 153px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}

@media (max-width: 750px) {
  .dialog-login {
    padding: 20px 40px;
    height: 552px;
    width: clamp(300px, 60vw, 600px);
  }

  .dialog-login__title {
    height: 38px;
    @include mixins.text-style(
      $size: 32px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 15px;
    width: 358px;
    @include mixins.text-style(
      $size: 17px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 30px;
    margin-top: 20px;
  }

  .dialog-login__forgot {
    margin: 0;
    color: #4863ed;
    text-decoration: none;
    @include mixins.text-style(
      $size: 17px,
      $color: #797ef3,
      $font-weight: 400,
      $font-family: 'Figtree'
    );
  }

  .password-forgotten {
    width: 100%;
    height: 30px;
    margin-top: 0px;
  }

  .dialog-login__divider {
    margin-top: 23px;
    .text {
      flex-shrink: 0;
      @include mixins.text-style(
        $size: 17px,
        $color: #000000,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 100%
      );
    }
  }

  .google-login-row {
    margin-top: 20px;
    height: 50px;

    .google-icon {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-text {
      transition: font-weight 125ms ease-in-out;
      @include mixins.text-style(
        $size: 17px,
        $color: #444df2,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 120%
      );
    }
  }

  .dialog-login__actions {
    gap: 20px;
    margin-top: 20px;
  }

  .btn {
    min-width: 153px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}

@media (max-width: 550px) {
  .dialog-login {
    width: clamp(280px, 85vw, 600px);
    padding: 20px 20px;
  }

  .form-group {
    width: 100%;
  }

  .inputs-form-block {
    width: 100%;
  } 
}

@media (max-width: 420px) {
  .dialog-login {
    padding: 20px 15px;
    height: 552px;
  }

  .dialog-login__title {
    height: 38px;
    @include mixins.text-style(
      $size: 30px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 10px;
    width: 280px;
    @include mixins.text-style(
      $size: 16px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }

  .dialog-login__forgot {
    margin: 0;
    color: #4863ed;
    text-decoration: none;
    @include mixins.text-style(
      $size: 16px,
      $color: #797ef3,
      $font-weight: 400,
      $font-family: 'Figtree'
    );
  }

  .password-forgotten {
    width: 100%;
    height: 20px;
    margin-top: 0px;
  }

  .dialog-login__divider {
    margin-top: 23px;
    .text {
      flex-shrink: 0;
      @include mixins.text-style(
        $size: 16px,
        $color: #000000,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 100%
      );
    }
  }

  .google-login-row {
    margin-top: 20px;
    height: 50px;

    .google-icon {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-text {
      transition: font-weight 125ms ease-in-out;
      @include mixins.text-style(
        $size: 16px,
        $color: #444df2,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 120%
      );
    }
  }

  .dialog-login__actions {
    gap: 20px;
    margin-top: 20px;
  }

  .btn {
    min-width: 100px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}

@media (max-width: 335px) {
  .dialog-login {
    padding: 20px 10px;
    height: 552px;
  }

  .dialog-login__title {
    height: 30px;
    @include mixins.text-style(
      $size: 30px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 10px;
    width: 260px;
    @include mixins.text-style(
      $size: 16px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .google-login-row {
    margin-top: 20px;
    height: 50px;

    .google-icon {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dialog-login__actions {
    gap: 10px;
    margin-top: 20px;
  }

  .btn {
    min-width: 80px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}
