@use 'mixins';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef0fc;
}

.dialog-login {
  width: auto;
  padding: 50px 60px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 4px 32px 0 rgba(160, 170, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-login__title {
  margin: 0px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.text-style(
    $size: 46px,
    $color: #444df2,
    $font-weight: 700,
    $font-family: 'Nunito'
  );
}

.dialog-login__subtitle {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  width: 486px;
  @include mixins.text-style(
    $size: 20px,
    $color: #000000,
    $font-weight: 400,
    $font-family: 'Nunito'
  );
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 40px;
  margin-top: 46px;
}

.dialog-login__forgot {
  margin: 0;
  color: #4863ed;
  text-decoration: none;
  @include mixins.text-style(
    $size: 18px,
    $color: #797ef3,
    $font-weight: 400,
    $font-family: 'Figtree'
  );
  cursor: pointer;
  transition: color 125ms ease-in-out;
  &:hover {
    color: #3247b7;
  }
}

.password-forgotten {
  width: 100%;
  height: 32px;
  margin-top: 40px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-login__divider {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 33px;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  .line {
    flex: 1;
    height: 1px;
    background: #adb0d9;
  }
  .text {
    flex-shrink: 0;
    @include mixins.text-style(
      $size: 18px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito',
      $line-height: 100%
    );
  }
}

.google-login-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #eef0fc;
  padding: 0 22px;
  margin-top: 43px;
  height: 56px;
  cursor: pointer;

  border-radius: 100px;
  border: 1px solid transparent;
  transition: border 125ms ease-in-out;

  transition: all 125ms;

  &:hover:not(:focus-within) {
    border: 1px solid #686868;

    .google-text {
      font-weight: 700;
    }
  }

  &:focus-within {
    border: 1px solid #535af1;
  }

  .google-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .google-text {
    transition: font-weight 125ms ease-in-out;
    @include mixins.text-style(
      $size: 18px,
      $color: #444df2,
      $font-weight: 400,
      $font-family: 'Nunito',
      $line-height: 120%
    );
  }
}

.input-row {
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 18px;
    cursor: text;
  }
}

.input-icon {
  font-size: 1.3rem;
  color: #8a94a6;
}

.input-control {
  border: none;
  background: transparent;
  @include mixins.text-style(
    $size: 18px,
    $color: Text gray,
    $font-weight: 500,
    $font-family: 'Nunito'
  );
  outline: none;
  height: 60px;
  width: 100%;
  cursor: text;
}

.dialog-login__actions {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 43px;
}

.btn {
  min-width: 153px;
  height: 48px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito';
  cursor: pointer;
  transition: background 0.15s, color 0.15s, border 0.15s;
  outline: none;
  border: none;
  box-shadow: none;
  &--primary {
    @include mixins.primary-button();
  }
  &--secondary {
    @include mixins.secondary-button();
  }
}

@media (max-height: 1050px) {
  .dialog-login {
    padding: 30px 60px;
    height: 552px;
  }

  .dialog-login__title {
    height: 38px;
    @include mixins.text-style(
      $size: 42px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 25px;
    width: 420px;
    @include mixins.text-style(
      $size: 18px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 420px;
    gap: 30px;
    margin-top: 25px;
  }

  .dialog-login__forgot {
    margin: 0;
    color: #4863ed;
    text-decoration: none;
    @include mixins.text-style(
      $size: 18px,
      $color: #797ef3,
      $font-weight: 400,
      $font-family: 'Figtree'
    );
  }

  .password-forgotten {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }

  .dialog-login__divider {
    margin-top: 25px;
    .text {
      flex-shrink: 0;
      @include mixins.text-style(
        $size: 17px,
        $color: #000000,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 100%
      );
    }
  }

  .google-login-row {
    margin-top: 25px;
    height: 50px;

    .google-icon {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-text {
      transition: font-weight 125ms ease-in-out;
      @include mixins.text-style(
        $size: 18px,
        $color: #444df2,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 120%
      );
    }
  }

  .dialog-login__actions {
    gap: 30px;
    margin-top: 30px;
  }

  .btn {
    min-width: 153px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}

@media (max-width: 750px) {
  .dialog-login {
    padding: 35px 20px;
    height: 552px;
  }

  .dialog-login__title {
    height: 38px;
    @include mixins.text-style(
      $size: 32px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 15px;
    width: 358px;
    @include mixins.text-style(
      $size: 17px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 30px;
    margin-top: 20px;
  }

  .dialog-login__forgot {
    margin: 0;
    color: #4863ed;
    text-decoration: none;
    @include mixins.text-style(
      $size: 17px,
      $color: #797ef3,
      $font-weight: 400,
      $font-family: 'Figtree'
    );
  }

  .password-forgotten {
    width: 100%;
    height: 30px;
    margin-top: 0px;
  }

  .dialog-login__divider {
    margin-top: 23px;
    .text {
      flex-shrink: 0;
      @include mixins.text-style(
        $size: 17px,
        $color: #000000,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 100%
      );
    }
  }

  .google-login-row {
    margin-top: 20px;
    height: 50px;

    .google-icon {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-text {
      transition: font-weight 125ms ease-in-out;
      @include mixins.text-style(
        $size: 17px,
        $color: #444df2,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 120%
      );
    }
  }

  .dialog-login__actions {
    gap: 20px;
    margin-top: 20px;
  }

  .btn {
    min-width: 153px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}

@media (max-width: 420px) {
  .dialog-login {
    padding: 20px 10px;
    height: 552px;
  }

  .dialog-login__title {
    height: 38px;
    @include mixins.text-style(
      $size: 30px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 10px;
    width: 280px;
    @include mixins.text-style(
      $size: 16px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 30px;
    margin-top: 20px;
  }

  .dialog-login__forgot {
    margin: 0;
    color: #4863ed;
    text-decoration: none;
    @include mixins.text-style(
      $size: 16px,
      $color: #797ef3,
      $font-weight: 400,
      $font-family: 'Figtree'
    );
  }

  .password-forgotten {
    width: 100%;
    height: 20px;
    margin-top: 0px;
  }

  .dialog-login__divider {
    margin-top: 23px;
    .text {
      flex-shrink: 0;
      @include mixins.text-style(
        $size: 16px,
        $color: #000000,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 100%
      );
    }
  }

  .google-login-row {
    margin-top: 20px;
    height: 50px;

    .google-icon {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-text {
      transition: font-weight 125ms ease-in-out;
      @include mixins.text-style(
        $size: 16px,
        $color: #444df2,
        $font-weight: 400,
        $font-family: 'Nunito',
        $line-height: 120%
      );
    }
  }

  .dialog-login__actions {
    gap: 20px;
    margin-top: 20px;
  }

  .btn {
    min-width: 100px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}

@media (max-width: 335px) {
  .dialog-login {
    padding: 20px 10px;
    height: 552px;
  }

  .dialog-login__title {
    height: 30px;
    @include mixins.text-style(
      $size: 30px,
      $color: #444df2,
      $font-weight: 700,
      $font-family: 'Nunito'
    );
  }

  .dialog-login__subtitle {
    text-align: center;
    margin-top: 10px;
    width: 260px;
    @include mixins.text-style(
      $size: 16px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito'
    );
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 15px;
    margin-top: 20px;
  }

  .google-login-row {
    margin-top: 20px;
    height: 50px;

    .google-icon {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dialog-login__actions {
    gap: 10px;
    margin-top: 20px;
  }

  .btn {
    min-width: 80px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito';
  }
}
