<button (click)="openModal()">Add Chanel</button>

<div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content">
    <div class="modal-header">
        <h2>Add Chanel</h2>
        <h3 class="close" (click)="closeModal()">&times;</h3>
    </div>
    <p>Channels are used by your team for communication. Ideally, they should be topic-based — for example, #marketing.</p>
    <div>
        <h3>Chanel Name</h3>
        <input class="input-field" type="text" placeholder="# e.g., collaboration projects">
    </div>
    <div>
        <h3>Description <span>(optional)</span></h3>
        <input class="input-field" type="text" placeholder="Your text here">
    </div>
    <div class="button-container">
        <button>ADD</button>
    </div>
  </div>
</div>
