@media (max-width: 500px) {
  .dialog {
    padding: 10px 10px 20px;
  }

  .dialog-header {
    margin-bottom: 10px;
  }

  .dialog-form {
    gap: 40px;

    .form-field {
      margin-top: 10px;
    }
  }

  .dialog-actions {
    padding: 0 38px 14px;
  }

}

@media (max-width: 400px) {
  .sheet-handle {
    display: block;
    width: 62px;
    height: 6px;
    margin: 6px auto 10px;
    background: #d9d9d9;
    border-radius: 23px;
  }
}