@media (max-width: 700px) {
  .dialog-content-wrapper {
    overflow-y: auto;
    max-height: 80vh;

    &::-webkit-scrollbar {
      display: none;
    }
  } 
}

@media (max-width: 500px) {
  .dialog {
    padding: 10px 20px 20px;
  }

  .dialog-description {
    margin: -12px auto 16px;
  }

  .dialog-actions {
    padding: 0 38px 14px;
  }

  .submit-btn {
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .dialog {
    padding-bottom: 0;
  }
  .sheet-handle {
    display: block;
    width: 62px;
    height: 6px;
    margin: 6px auto 10px;
    background: #d9d9d9;
    border-radius: 23px;
  }

  .dialog-header {
    margin-bottom: 0;
    padding: 0;
  }

  .dialog-content {
    padding: 8px 24px;
  }
}
