@media (max-width: 700px) {
  .dialog-content-wrapper {
    max-height: 70svh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .dialog {
    padding: 20px 20px 20px;
  }

  .dialog-header {
    margin-bottom: 20px;
  }

  .dialog-description {
    margin: -12px auto 16px;
  }

  .dialog-actions {
    padding: 0 38px 14px;
  }

  .submit-btn {
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .dialog-content-wrapper {
    max-height: 80svh;
  }

  .dialog {
    padding-bottom: 0;
  }

  .sheet-handle {
    display: block;
    width: 62px;
    height: 6px;
    margin: 6px auto 10px;
    background: #d9d9d9;
    border-radius: 23px;
  }

  .dialog-header {
    padding: 0;
  }

  .dialog-content {
    padding: 12px 0 0;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .dialog {
    overflow-y: auto;
  }

  .dialog-content-wrapper {
    max-height: unset;
  }
}
