.message-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  flex-grow: 1;
}

.message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  .user-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }

  .timestamp {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #686868;
  }
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 8px;
  width: 100%;
  background: #797EF3;
  border-radius: 30px 0px 30px 30px;

  p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
  }
}

.avatar-container {
  flex-shrink: 0;
  .avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.reactions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
