@mixin nav-link($size: 18px, $font-family: 'Figtree', $color: #797ef3, $hover-color: #444df2) {
  color: $color;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid transparent;
  transition: all 125ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: $hover-color;
    border: 1px solid #797ef3;
  }
}

@mixin text-style(
  $size: 16px,
  $color: #000000,
  $font-weight: 400,
  $font-family: 'Figtree',
  $line-height: 1.2
) {
  font-size: $size;
  color: $color;
  font-weight: $font-weight;
  font-family: $font-family;
}

@mixin primary-button($hover-bg-color: #797ef3, $bg-color: #444df2) {
  @include text-style($size: 18px, $color: #ffffff, $font-weight: 700, $font-family: 'Nunito');
  background-color: $bg-color;
  border-radius: 25px;
  padding: 12px 25px 12px;
  cursor: pointer;
  transition: background-color 125ms ease-in-out;

  &:hover {
    background-color: $hover-bg-color;
  }

  &.disabled {
    background-color: #686868;

    &:hover {
      cursor: not-allowed;
    }
  }
}

@mixin secondary-button($hover-bg-color: #444df2) {
  @include text-style($size: 18px, $color: #444df2, $font-weight: 700, $font-family: 'Figtree');
  background-color: transparent;
  border-radius: 25px;
  padding: 12px 25px 12px;
  cursor: pointer;
  border: 1px solid #797ef3;

  transition: all 125ms ease-in-out;

  &:hover {
    background-color: $hover-bg-color;
    border: 1px solid $hover-bg-color;
    color: #ffffff;
  }
}