<section>
    <div class="main-container">
        <div class="inner-container">
            <div class="inner-container-wrapper">
                <div class="arrow-container" [routerLink]="'/login'">
                    <img src="assets\icons\arrow_back.svg" alt="back">
                </div>
                <div class="email-reset-container">
                    <div class="aot-container">
                        <h1>Passwort zurücksetzen</h1>
                        <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
                    </div>
                    <div class="email-input-container">
                       <form class="input-wrapper" (ngSubmit)="onSubmit()" #resetForm="ngForm">
                        <img src="assets/icons/mail-empty.svg" alt="mail">
                            <input
                                class="email-input"
                                type="email"
                                name="email"
                                placeholder="beispielname@email.com"
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                                [(ngModel)]="email"
                                #emailInput="ngModel"
                                required
                            >
                        </form>
                        <div class="error-container">
                            <div class="email-false-info">
                                <p *ngIf="emailInput.invalid && emailInput.dirty && !successMessage">
                                Bitte geben Sie eine gültige E-Mail-Adresse ein.
                                </p>

                            </div>
                            <div class="info-after" *ngIf="errorMessage">
                                <p class="error-text">{{ errorMessage }}</p>
                            </div>
                            <div class="success-message-container" *ngIf="successMessage">
                                <p class="success-text">{{ successMessage }}</p>
                            </div>
                        </div>
                        <span>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
                        <div class="button-container">
                            <button
                                class="send-button"
                                [disabled]="emailInput.invalid || !emailInput.value"
                                [class.active]="emailInput.valid && emailInput.value"
                                (click)="onSubmit()"
                            >
                            E-Mail Senden
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>