@use 'mixins';

section {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 254);   
    display: flex;
    justify-content: center;
    font-family: "nunito";
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 680px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-container {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    margin-top: 8px;
    cursor: pointer;
}

.arrow-container:hover img {
  filter: invert(23%) sepia(83%) saturate(7496%) hue-rotate(237deg) brightness(96%) contrast(99%);
}

.arrow-container:hover {
    background-color: rgb(236,238,254);
}

.inner-container-wrapper {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.email-reset-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aot-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email-reset-container {
    h1 {
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 32px;
        color: #444DF2;
        margin: 16px 0px;
    }
    p {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #000000;
        margin: 32px 0px;
    }
    span {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #686868;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.email-input {
    padding-left: 56px; 
    width: 480px;
    height: 60px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: rgb(236, 238, 254);
}

.input-wrapper img {
    position: absolute;
    left: 24px;
    width: 20px;
    height: 20px;
    pointer-events: none; 
}

.error-container {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-false-info {
    p {
        color: red;
        font-size: 16px;
        margin-top: 4px;
    }
}

.error-message-container {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
}

.send-button {
    color: rgb(255, 255, 255);
    background-color: #686868;
    width: 170px;
    height: 48px;
    border: 1px solid transparent;
    font-size: 18px;
    border-radius: 32px;
     &:disabled {
    background-color: #686868;
    cursor: not-allowed;
    }
    &.active {
        background-color: #444DF2; 
        cursor: pointer;
    }
    &:hover.active {
        background-color: #5e63eb; 
    }
}

@media screen and (max-width: 1921px) {
    .nav-container {
        width: 90%;
        padding: 16px;
    }
}

@media screen and (max-width: 801px) {
    .inner-container {
        width: 90%;
        height: 90%;
    }
    .inner-container-wrapper {
       flex-direction: column;
    }
    .email-reset-container {
        width: 100%;
        text-align: center;
        
    }
    .email-input {
        width: 100%;
    }
}