<section>
    <div class="main-container">
        <div class="inner-container">
            <div class="inner-container-wrapper">
                <div class="arrow-container">
                    <img src="assets\icons\arrow_back.svg" alt="back">
                </div>
                <div class="email-reset-container">
                    <div class="text-container">
                        <h1>Passwort zurücksetzen</h1>
                        <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
                    </div>
                    <div class="email-input-container">
                        <form class="input-wrapper" (ngSubmit)="onSubmit()">
                            <img src="assets/icons/mail-empty.svg" alt="mail">
                            <input 
                            class="email-input"
                            type="email"
                            name="email"
                            placeholder="beispielname@email.com"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            [(ngModel)]="email"
                            required
                            >
                        </form>
                        
                        <div class="error-message-container" *ngIf="errorMessage">
                            <p class="error-text">{{ errorMessage }}</p>
                        </div>

                        <div class="success-message-container" *ngIf="successMessage">
                            <p class="success-text">{{ successMessage }}</p>
                        </div>
                            
                        <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
                        <div class="button-container">
                            <button class="send-button" (click)="onSubmit()">E-Mail Senden</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>