<section>
    <div class="nav-container">
        <div class="nav-container-inner">
            <img src="impressum/logo.svg" alt="logo">
            <h1>DABubble</h1>
        </div>
    </div>
    <div class="main-container">
        <div class="inner-container">
            <div class="inner-container-wrapper">
                <div class="arrow-container">
                    <img src="impressum/arrow_back.svg" alt="back">
                </div>
                <div class="email-reset-container">
                    <div class="text-container">
                        <h1>Reset Password</h1>
                        <p>Please enter your email address.</p>
                    </div>
                    <div class="email-input-container">
                        <div class="input-wrapper">
                            <img src="resete-password/mail.svg" alt="mail">
                            <input class="email-input" type="text" placeholder="example@email.com">
                        </div>
                        <div class="error-message-container">
                            <p></p>
                        </div>
                        <p>We`ll send you an email to reset your password.</p>
                        <div class="button-container">
                            <button class="send-button">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>