@use 'mixins';

:host {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
}

.auth-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 75px;
}

.logo {
  margin: 0px;
  padding-left: 75px;
  display: flex;
  align-items: center;

  img {
    width: 242px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.125s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-top: 65px;

  > a {
    @include mixins.nav-link();
  }
}

.signup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 75px;

  > p {
    margin: 0;
    margin-right: 30px;
    margin-bottom: 10px;
    @include mixins.text-style(
      $size: 18px,
      $color: #000,
      $font-weight: 400,
      $font-family: 'Nunito',
      $line-height: 100%
    );
  }

  .nav-link {
    @include mixins.nav-link();
  }
  .nav-link--primary {
    color: #444df2;
    border-color: var(--purple-1);
    &:hover {
      filter: brightness(0.95);
    }
  }
}

.signup-text--mobile {
  display: none;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  height: 769px;
}

.content {
  flex-grow: 1;
}

@media (max-height: 1050px) {
  .footer {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1090px) {
  .signup-text {
    padding-right: 35px;
    padding-bottom: 5px;
  }
}

@media (max-width: 750px) {
  .header {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .logo {
    padding-left: 0;

    img {
      width: 204;
      height: 56px;
    }
  }

  .signup-text--desktop {
    display: none;
  }

  .content {
    height: 552px;
    margin: 0px;
  }

  .signup-text--mobile {
    display: flex;
    gap: 8px;
    padding: 0 20px 12px;
    align-items: center;

    p {
      margin-right: 0px;
    }
  }

  .footer {
    display: none;
  }
}

@media (max-width: 750px) {
  .header {
    justify-content: center;
    margin-top: 72px;
    height: 56px;
  }
}
