@use 'mixins';

:host {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1920px;
}

.auth-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 75px;
  padding: 0 75px 0;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &:hover {
    scale: 1.05;
  }
}

.logo {
  width: 72px;
  height: 72px;
  z-index: 7;
}

.text {
  @include mixins.text-style(
    $size: 24px,
    $color: black,
    $font-weight: 700,
    $font-family: 'Nunito',
    $line-height: 1.2
  );
  padding-left: 20px;
  white-space: nowrap;
  opacity: 1;
}

.text-mask {
  overflow: hidden;
  height: 120px;
  width: 230px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-top: 65px;

  > a {
    @include mixins.nav-link();
  }
}

.signup-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    margin: 0;
    margin-bottom: 10px;
    @include mixins.text-style(
      $size: 18px,
      $color: #000,
      $font-weight: 400,
      $font-family: 'Nunito',
      $line-height: 100%
    );
  }

  .nav-link {
    @include mixins.nav-link();
  }
  .nav-link--primary {
    color: #444df2;
    border-color: var(--purple-1);
    &:hover {
      filter: brightness(0.95);
    }
  }
}

.signup-text--mobile {
  display: none;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

.content {
  flex-grow: 1;
}

@media (max-height: 1050px) {
  .footer {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 860px) {
  .header {
    margin-top: 50px;
    padding: 0 50px;
  }
}

@media (max-width: 750px) {
  .auth-section {
    gap: 20px;
  }

  .header {
    padding: 0;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 72px;
  }

  .logo {
    padding-left: 0;

    img {
      width: 204px;
      height: 56px;
    }
  }

  .signup-text--desktop {
    display: none;
  }

  .content {
    margin: 0px;
  }

  .text-mask {
    height: 72px;
    width: 180px;
  }

  .signup-text--mobile {
    display: flex;
    gap: 8px;
    padding: 0 20px 0;
    margin: 0 0 20px;
    align-items: center;

    p {
      margin-right: 0px;
    }
  }

  .footer {
    display: none;
  }
}
