@use 'mixins';

:host {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
}

.auth-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 75px;
}

.logo {
  width: 242px;
  height: 70px;
  margin: 0px;
  padding-left: 75px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-top: 65px;
  margin-bottom: 48px;

  > a {
    @include mixins.nav-link();
  }
}

.logo {
  img {
    cursor: pointer;
    transition: transform 125ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.signup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 75px;

  > p {
    margin-top: 0;
    @include mixins.text-style(
      $size: 18px,
      $color: #000000,
      $font-weight: 400,
      $font-family: 'Nunito',
      $line-height: 100%
    );
  }

  > a {
    margin-left: 30px;
    @include mixins.nav-link();
  }
}

.content {
  flex-grow: 1;
}
