<section class="chat-container">
  <header class="chat-header">
    <div class="channel-info-thread-container">
      <h2 class="thread-name">Thread</h2>
      <span class="channel-name"># Entwicklerteam</span>
    </div>
    <div>
      <button type="button" class="icon-btn" aria-label="close button" (click)="onClose()">
        <img src="assets/icons/close.svg" alt="" />
      </button>
    </div>
  </header>
  <main class="chat-content">
    <section>
      <app-message-bubble
        [incoming]="senderId !== currentUserData.id"
        [name]="senderId !== currentUserData.id ? currentUserData.displayName : 'Du'"
        [avatar]="
          senderId !== currentUserData.id
            ? currentUserData.avatar ?? 'assets/img-profile/profile.png'
            : currentUserData.avatar ?? 'assets/img-profile/profile.png'
        "
        [time]="messageTimestamp ? (messageTimestamp.toDate() | date : 'HH:mm') + ' Uhr' : ''
        "
        [text]="messageText ?? ''"
        [chatId]="chatId || ''"
        [messageId]="currentUserData.id"
        [reactionsMap]="messageReactions"
      ></app-message-bubble>
    </section>
    <div class="separator-wrapper">
      <span>{{ answersAmount }} Antworten</span>
      <hr class="separator-line">
    </div>
    <section>
    </section>
  </main>
  <footer class="footer">
    <app-message-area-component (send)="handleNewMessage($event)"></app-message-area-component>
  </footer>
</section>
