@media (min-width: 1000px) {
  :host app-message-bubble ::ng-deep .reactions .reaction-chip .reaction-tooltip {
    min-width: 50px !important;
    max-width: 50px !important;
    white-space: normal !important;
    word-break: break-word !important;
    left: 5% !important;
  }

  :host ::ng-deep .emoji-mart {
    width: 150px !important;
  }

  :host app-message-bubble ::ng-deep .btn {
    height: 40px;
  }

  :host app-message-bubble ::ng-deep .btn.btn--secondary {
    min-width: 60px;
    padding: 0;
    font-size: 0;

    &::before {
      content: '✕';
      font-size: 16px;
      font-weight: 800;
      color: #797ef3;
      transition: color 0.15s;
    }

    &:hover::before {
      color: #ffffff;
    }
  }

  :host app-message-bubble ::ng-deep .btn.btn--primary {
    min-width: 60px;
    padding: 0;
    font-size: 0;

    &::before {
      content: '✓';
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
    }
  }
}

@media (max-width: 950px) {
  .chat-container {
    height: 92vh;
  }

  .chat-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 35.5px;
  }

  .footer {
    padding: 0 16px 40px 16px;
  }
}

@media (max-width: 700px) {
  :host app-message-bubble ::ng-deep .emoji-mart {
    width: 170px !important;
  }
}

@media (max-width: 560px) {
  .chat-container {
    height: 90vh;
  }

  .thread-name {
    font-size: 20px;
  }

  .channel-name {
    max-width: 120px;
  }
  .chat-header {
    height: 64px;
    padding: 0 8px 0 8px;
  }

  .footer {
    width: 100%;
    padding: 0 8px 20px 8px !important;
  }
}

@media (max-width: 500px) {
  :host app-message-bubble ::ng-deep .menu-dropdown {
    transform: translateX(0%) !important;
  }
}

@media (max-width: 400px), (orientation: landscape) and (max-height: 600px) {
  .chat-container {
    height: 88vh;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .chat-header {
    height: 56px;
  }

  .footer {
    padding: 0 35px 24px 35px;
  }
}

@media (max-width: 400px) {
  .channel-name {
    max-width: 100px;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .channel-info-thread-container {
    transform: scale(0.7);
  }

  .chat-header {
    height: 42px;
  }

  .chat-content {
    transform: scale(0.7) !important;
    padding: 0 !important;
    gap: 0 !important;
    margin: -40px -32px -20px 0px !important;
  }
}
