.message-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}