$msg-border: #adb0d9;
$purple: #444df2;

.msg-box {
  position: relative;
  display: flex;
  border: 1px solid $msg-border;
  border-radius: 16px;
  background: #fff;
  padding: 16px 56px 48px 16px;

  &:focus-within {
    border-color: $msg-border; 
  }
}

textarea {
  width: 100%;
  min-height: 56px;
  max-height: 240px;
  border: 0;
  outline: 0;
  resize: none;
  font: inherit;
  color: #000;
  padding: 18px 0 0 0;
  background: transparent;
  font-family:'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bottom-row {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-icons {
  display: inline-flex;
  gap: 8px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    transition: 0.2s;
  }

  &:first-child:hover img {
    content: url('/assets/icons/sentiment-hover.svg');
  }

  &:nth-child(2):hover img {
    content: url('/assets/icons/alternate-hover.svg');
  }

  &:hover {
    background: #f1f3fe;
  }
}

.send-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent url('/assets/icons/send.svg') center/30px no-repeat;
  cursor: pointer;

  &:hover {
    background-image: url('/assets/icons/send-hover.svg');
  }

   &:disabled {
    cursor: default;
  }

}