@media (max-height: 1050px) {
  .signup-card {
    padding: 35px 60px;
    display: flex;
    width: 520px;
    margin-top: 0px;
  }

  .dialog-authentication-header {
    height: 55px;
    max-width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dialog-authentication-title {
    font-size: 42px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 !important;

    p {
      width: auto;
      height: 48px;
      margin-top: 15px;
      margin-bottom: 0px;
      font-size: 18px;
    }
  }
}

@media (max-width: 750px) {
  .signup-card {
    padding: 35px;
    display: flex;
    width: 450px;
    margin-top: 0px;
  }

  .dialog-authentication-header {
    height: 55px;
    max-width: 329px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dialog-authentication-title {
    font-size: 32px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 !important;

    p {
      width: auto;
      height: 48px;
      margin-top: 15px;
      margin-bottom: 0px;
      font-size: 17px;
    }
  }
}

@media (max-width: 600px) {
  .signup-card {
    width: clamp(300px, 97vw, 500px);
    padding-bottom: 8px !important;
  }

  mat-card-actions {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .signup-card {
    padding: 30px 25px;
    padding-bottom: 8px !important;
  }

  .dialog-authentication-back-arrow {
    top: 47px;
    left: 25px;
  }
}

@media (max-width: 420px) {
  .signup-card {
    padding: 35px 20px;
    display: flex;
    margin-top: 0px;
    padding-bottom: 8px !important;
  }

  .dialog-authentication-back-arrow {
    cursor: pointer;
    position: absolute;
    top: 49px;
    left: 20px;
  }

  .dialog-authentication-title {
    font-size: 30px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 !important;

    p {
      width: auto;
      height: 48px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  .btn-weiter {
    width: 90px;
    height: 40px;
    font-size: 16px;
    margin-right: 30px;
  }
}

@media (max-width: 375px) {
  .dialog-authentication-back-arrow {
    left: 6px;
  }
}
