@use 'mixins';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.workspace-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main-content {
  position: relative;
  display: flex;
  flex: 1;
}

app-header-workspace {
  padding: 0px 30px 20px;
}

.main-container {
  flex: 1;
}

.devspace-sidenav {
  background-color: #ffffff;
  border-radius: 25px;
}

.thread-sidenav {
  background-color: #ffffff;
  border-radius: 30px !important;
  width: 450px;
  border: none !important;
}

.thread-sidenav-button {
  margin-left: auto;
}

.main-content-area {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
}

.main-and-thread-wrapper {
  flex: 1;
  display: flex;
}

.mat-drawer-container {
  background-color: rgb(236 238 254);
}

:host ::ng-deep .mat-drawer-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.devspace-sidenav-button {
  @include mixins.text-style(
    $size: 20px,
    $color: #000000,
    $font-weight: 500,
    $font-family: 'Nunito',
    $line-height: 1.2
  );
  margin-right: 24px;
  left: 0;
  bottom: 440px;
  padding: 0 12px 0;
  margin-left: -20px;
  position: absolute;
  z-index: 2;
  transform: rotate(90deg);
  transform-origin: left bottom;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #ffffff;
  gap: 8px;
  border: none;
  cursor: pointer;
  height: 56px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.2));
  transition: all 125ms ease-in-out;

  &:hover {
    p {
      color: #535af1;
      font-weight: 700;
    }

    svg {
      path {
        stroke: #444df2;
        stroke-width: 2.5;
      }

      rect {
        stroke: #444df2;
        stroke-width: 2.5;
      }
    }
  }

  > svg {
    transform: rotate(-90deg);
  }

  > p {
    transform: rotate(-180deg);
  }
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  min-height: 0;
  margin-left: 0;
  margin-right: 0;

  &.has-devspace {
    margin-left: 20px;
  }

  &.has-thread {
    margin-right: 20px;
  }
}

.avatar-wrap {
  position: relative;
  width: 70px;
  height: 70px;

  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
  .status {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #686868;
    &.online {
      background: #92c83e;
    }
  }
}

.expand-icon {
  font-size: 28px;
  line-height: 1;
  color: #000;
  transition: color 0.1s ease;
}
