@use 'mixins';
@use 'variables';

:host {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}
// --- Main Dialog Layout ---
.dialog-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dialog-content-wrapper {
  width: 100%;
}

.dialog-content {
  padding-left: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.dialog-actions {
  padding: 0;
  margin-top: auto;
}

.form-field {
  width: 100%;
  margin-top: 8px;
}

// --- Text and Element Styling ---

.dialog-title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  @include mixins.text-style(
    $size: 24px,
    $color: #1a1a1a,
    $font-weight: 700,
    $font-family: 'Nunito',
    $line-height: 1
  );
}

.dialog-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: all 125ms ease-in-out;

  &:hover {
    background-color: #eceefe;

    svg {
      path {
        transition: fill 125ms ease-in-out;
        stroke: #535af1;
        stroke-width: 2.5;
      }
    }
  }
}

.options-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option-text {
  @include mixins.text-style(
    $size: variables.$basic-text-size,
    $color: #000000,
    $font-weight: 400,
    $font-family: 'Nunito'
  );
}

.dialog-link {
  @include mixins.text-style(
    $size: 18px,
    $color: #535af1,
    $font-weight: 500,
    $font-family: 'Nunito'
  );
  text-decoration: none;
}

// --- Action Button Styling ---
.dialog-action-button {
  border: none;
  @include mixins.primary-button($hover-bg-color: #797ef3, $bg-color: #444df2);

  &.disabled {
    @include mixins.disabled-button();
  }
}

// This is the main container for chips and the input
.input-wrapper {
  display: flex;
  flex-direction: row-reverse;
  white-space: nowrap;
  align-items: center;
  overflow-x: auto;
  gap: 8px;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.user-input-field {
  flex-grow: 1;
  min-width: 50px;
  border: none;
  outline: none;
  background: transparent;
  height: 55px;
}

.sheet-handle {
  display: none;
}