@media (max-width: 500px) {
  .dialog-container {
    padding: 30px 20px 20px 20px;
    gap: 20px;
    border-bottom-left-radius: 0px;
  }

  .sheet-handle {
    display: block;
    width: 62px;
    height: 6px;
    margin: 6px auto 10px;
    background: #d9d9d9;
    border-radius: 23px;
  }

  .dialog-header {
    padding: 0 0;
  }

  .dialog-title {
    font-size: 20px;
    line-height: 1.1;
  }

  .dialog-content {
    padding: 0 0;
    margin-bottom: 12px;
  }

  .dialog-action-button {
    margin-top: 20px;
  }

  .options-group {
    gap: 14px;
  }

  .option-text,
  .dialog-link {
    line-height: 1.2;
  }

  .input-wrapper {
    gap: 10px;
  }

  .user-input-field {
    height: 48px;
    font-size: 16px;
  }

  .option-text {
    margin-top: 5px;
  }

  .dialog-content-wrapper {
    max-height: 60vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
