@use 'mixins';

:host {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}
// --- Main Dialog Layout ---
.dialog-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dialog-content {
  padding-left: 0;
  margin-bottom: 16px;
}

.dialog-actions {
  padding: 0;
  margin-top: auto;
}

// --- Text and Element Styling ---

.dialog-title {
  margin: 0;
  padding: 0;
  @include mixins.text-style(
    $size: 24px,
    $color: #1a1a1a,
    $font-weight: 700,
    $font-family: 'Nunito',
    $line-height: 1
  );
}

.dialog-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: all 125ms ease-in-out;

  &:hover {
    background-color: #eceefe;

    svg {
      path {
        transition: fill 125ms ease-in-out;
        stroke: #535af1;
        stroke-width: 2.5;
      }
    }
  }
}

.options-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option-text {
  @include mixins.text-style(
    $size: 18px,
    $color: #000000,
    $font-weight: 400,
    $font-family: 'Nunito'
  );
}

.dialog-link {
  @include mixins.text-style(
    $size: 18px,
    $color: #535af1,
    $font-weight: 500,
    $font-family: 'Nunito'
  );
  text-decoration: none;
}

// --- Radio Button Customization ---

::ng-deep .option-item .mdc-radio__outer-circle {
  border-color: #adb0d9 !important;
  border-width: 1px !important;
}

::ng-deep .option-item.mdc-radio-checked .mdc-radio__outer-circle {
  border-color: #adb0d9 !important; /* checked state */
  border-width: 1px !important;
}

::ng-deep .option-item .mdc-radio {
  padding: 0 !important;
  margin-right: 20px;
}

// --- Action Button Styling ---
.dialog-action-button {
  border: none;
  @include mixins.primary-button($hover-bg-color: #797ef3, $bg-color: #444df2);
}