@use 'mixins';
@use 'variables';

.answers-info {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  &:hover {
    .answers-amount {
      font-weight: 700;
    }
    .last-answer-time {
      color: #000000;
    }
  }
}

.answers-amount {
  @include mixins.text-style(
    $size: variables.$basic-text-size,
    $color: #535af1,
    $font-weight: 400,
    $font-family: 'Nunito',
    $line-height: 1.4
  );
}

.last-answer-time {
  @include mixins.text-style(
    $size: 14px,
    $color: #686868,
    $font-weight: 400,
    $font-family: 'Nunito',
    $line-height: 1.4
  );
}

@media (max-width: 400px) {
  .answers-info {
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
  }
}
