@use 'mixins';

:host {
  height: 100%;
  width: 100%;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  align-items: center;
}

.chat-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 20px;
  height: 96px;
  width: 100%;
  padding: 0 45px 0;
  box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.channel-info {
  border: none;
  padding: 5px 10px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 125ms ease-in-out;
  background-color: transparent;

  .channel-name {
    margin: 0;
    @include mixins.text-style(
      $size: 24px,
      $color: #000000,
      $font-weight: 700,
      $font-family: 'Nunito',
      $line-height: 1
    );
  }

  &:hover {
    transition: all 125ms ease-in-out;
    background-color: #eceefe;

    .channel-hashtag > path {
      transition: fill 125ms ease-in-out;
      fill: #535af1;
    }

    .channel-name {
      transition: color 125ms ease-in-out;
      color: #535af1;
    }

    .channel-dropdown > path {
      transition: fill 125ms ease-in-out;
      fill: #535af1;
    }
  }
}

.add-member-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
        transition: all 125ms ease-in-out;
        path {
            fill: #535af1;
        }
    }
}

.channel-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer {
  margin: 20px;
}
