<section class="chat-container">
  <header class="chat-header">
    <button class="dm-info-button">
      <figure class="header-avatar-figure">
        <div class="header-avatar-wrapper">
          <img [src]="recipientData?.avatar" alt="avatar" />
        </div>
        <figcaption class="header-person-name">{{ recipientData?.name }}</figcaption>
      </figure>
    </button>
  </header>
  <main class="chat-content" [class.empty]="(messages$ | async)?.length === 0">
    @if (messages$ | async; as messages) { @for (message of messages; track message.id) {
    <div class="message-item">
      <div class="message-author">{{ message.authorId }}</div>
      <div class="message-text">{{ message.text }}</div>
      <div class="message-timestamp">{{ message.timestamp?.toDate() | date : 'short' }}</div>
    </div>
    } @empty { @if (isOwnDm) {
    <section>
      <button class="avatar-figure-button">
        <figure class="avatar-figure">
          <div class="avatar-wrapper">
            <img [src]="recipientData?.avatar" alt="avatar" />
          </div>
          <figcaption class="avatar-caption">{{ recipientData?.name }}</figcaption>
        </figure>
      </button>
      <p class="chat-info">
        <span>Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf oder
        bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
        besprechen.
      </p>
    </section>
    } @else {
    <section>
      <button class="avatar-figure-button">
        <figure class="avatar-figure">
          <div class="avatar-wrapper">
            <img [src]="recipientData?.avatar" alt="avatar" />
          </div>
          <figcaption class="avatar-caption">{{ recipientData?.name }}</figcaption>
        </figure>
      </button>
      <p class="chat-info">
        Diese Unterhaltung findet nur zwischen
        <button class="recipient-tag">@{{ recipientData?.name }}</button> und dir statt.
      </p>
    </section>
    } } }
  </main>
  <footer class="footer">
    <app-message-area-component (send)="handleNewMessage($event)"></app-message-area-component>
  </footer>
</section>
