@import 'mixins';

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.page-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto 0 40px;
  gap: 16px;

  > a {
    @include nav-link();
  }
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-top: 20px;
  img {
    cursor: pointer;
    transition: transform 125ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.signup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-top: 20px;

  > p {
    font-family: 'Nunito', sans-serif;
  }

  > a {
    @include nav-link();
  }
}
