section {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 254);   
}

.nav-container {
    height: 96px;
    margin-left: 32px;
    display: flex;
    img {
        height: 70px;
        width: 70px;
    }
    h1 {
        margin-left: 32px;
    }
}

.nav-container-inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 680px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-content {
    width: 90%;
    height: 90%;
}

.arrow-container {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    margin: 8px 0px;
    cursor: pointer;
}

.arrow-container:hover img {
  filter: invert(23%) sepia(83%) saturate(7496%) hue-rotate(237deg) brightness(96%) contrast(99%);
}

.arrow-container:hover {
    background-color: rgb(236,238,254);
}

.text-container {
    overflow: scroll;
    height: 80%;
    overflow-x: hidden;
    h2 {
       font-size: 46px; 
       margin: 8px 0px;
    }
    h3 {
        font-size: 32px;
        margin: 8px 0px;
    }
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 801px) {
    .inner-container {
        width: 90%;
        height: 90%;
    }
}