section {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 254);  
    font-family: "nunito"; 
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    position: relative; 
    width: 680px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.arrow-container {
    position: absolute; 
    top: 48px;          
    left: 8px;         
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    cursor: pointer;
    z-index: 2;         
}

.arrow-container:hover img {
    filter: invert(23%) sepia(83%) saturate(7496%) hue-rotate(237deg) brightness(96%) contrast(99%);
}

.arrow-container:hover {
    background-color: rgb(236, 238, 254);
}

.email-reset-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        font-size: 48px;
        font-weight: 700;
        color: #444DF2;
    }
}

.input-wrapper {
    width: 80%;
}

.input-password {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: rgb(236, 238, 254);
    padding: 0 24px;
    margin: 16px 0px;
}

.error-message-container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    text-align: center;
    span {
        color: red;
        font-size: 16px;
        margin-top: 4px;
    }
}

.info-container {
    width: 100%;
    height: 32px;
    display: flex;
    text-align: center;
    align-items: center;
}

.error-message-container-two {
    height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: red;
        font-size: 16px;
        margin-top: 4px;
    }
}

.success-message-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: green;
        font-size: 16px;
        margin-top: 4px;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.change-button {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 104, 104);
    width: 188px;
    height: 48px;
    border: 1px solid transparent;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    margin-top: 16px;
}


.inactive-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


.active-button {
  background-color: #444DF2; 
  color: white;
  cursor: pointer;
}

.active-button:hover {
  background-color: #5e63eb;
}

@media screen and (max-width: 801px) {
    .inner-container {
        width: 90%;
        height: 90%;
    }
    .inner-container-wrapper {
        flex-direction: column;
    }
    .email-reset-container {
        width: 100%;
        h1 {
            text-align: center;
        }
    }
    .input-password {
        width: 100%;
    }
    .button-container {
        width: 100%;
        padding: 0 24px;
    }
}