section {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 254);   
}

.nav-container {
    height: 96px;
    margin-left: 32px;
    display: flex;
    img {
        height: 70px;
        width: 70px;
    }
    h1 {
        margin-left: 32px;
    }
}

.nav-container-inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 680px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.arrow-container {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    cursor: pointer;
}

.arrow-container:hover img {
  filter: invert(23%) sepia(83%) saturate(7496%) hue-rotate(237deg) brightness(96%) contrast(99%);
}

.arrow-container:hover {
    background-color: rgb(236,238,254);
}

.email-reset-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 48px;
        margin-bottom: 16px;
    }
}

.input-password {
    width: 400px;
    height: 56px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: rgb(236, 238, 254);
    padding: 0 24px;
    margin: 16px 0px;
}

.button-container {
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.change-button {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 104, 104);
    width: 188px;
    height: 48px;
    border: 1px solid transparent;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    margin-top: 16px;
}

@media screen and (max-width: 801px) {
    .inner-container {
        width: 90%;
        height: 90%;
    }
    .inner-container-wrapper {
        flex-direction: column;
    }
    .email-reset-container {
        width: 100%;
        h1 {
            text-align: center;
        }
    }
    .input-password {
        width: 100%;
    }
    .button-container {
        width: 100%;
        padding: 0 24px;
    }
}