<section>
    <div class="main-container">
        <div class="inner-container">
            <div class="inner-container-wrapper">
                <div class="arrow-container">
                    <img src="assets\icons\arrow_back.svg" alt="back">
                </div>
                <div class="email-reset-container">
                    <h1>Passwort zurücksetzen</h1>
                    <form class="input-wrapper" (ngSubmit)="onSubmit()">
                        <div>
                            <input 
                            class="input-password" 
                            type="password" 
                            name="password" 
                            placeholder="Neues Passwort"
                            minlength="8"
                            required
                            [(ngModel)]="newPassword"
                            >
                            <div class="error-message-container-one"></div>
                        </div>
                        <div>
                            <input 
                            class="input-password" 
                            type="password" 
                            name="confirmPassword"
                            placeholder="Neues Kennwort bestätigen"
                            minlength="8"
                            required
                            [(ngModel)]="confirmPassword"
                            >
                            <div class="error-message-container-two"></div>
                        </div>
                        <div class="button-container">
                            <button class="change-button">Passwort ändern</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</section>