<section>
    <div class="nav-container">
        <div class="nav-container-inner">
            <img src="impressum/logo.svg" alt="logo">
            <h1>DABubble</h1>
        </div>
    </div>
    <div class="main-container">
        <div class="inner-container">
            <div class="inner-container-wrapper">
                <div class="arrow-container">
                    <img src="impressum/arrow_back.svg" alt="back">
                </div>
                <div class="email-reset-container">
                    <h1>Reset Password</h1>
                    <div>
                        <input class="input-password" type="text" alt="password" placeholder="New Password">
                    </div>
                    <div>
                        <input class="input-password" type="text" alt="password" placeholder="Confirm New Password">
                    </div>
                    <div class="button-container">
                        <button class="change-button">Change Password</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>