.dm-item {
  min-width: 205px;
  width: 90%;
  height: 58px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;

  &:hover {
    background: #eceefe;

    .name {
      color: #535af1;
      font-weight: 700;

      .you {
        color: #535af1;
        font-weight: 700;
      }
    }
  }

  .avatar-wrap {
    position: relative;
    width: 50px;
    height: 50px;

    .avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }

    .status {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #fff;
      background: #686868;

      &.online {
        background: #92c83e;
      }
    }
  }

  .name {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    white-space: nowrap;
    transition: color 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-width: 0;

    .you {
      margin-left: 4px;
      font-weight: 400;
      color: #000;
      transition: color 0.2s ease;
    }
  }
}

@media (max-width: 950px) {
    .contact-item-anker {
    text-decoration: none;
    padding: 0;

    &.is-active .dm-item {
      background-color: transparent;
    }
  }

  .dm-item > .name {
    max-width: 157px;
  }
}