section {
  height: 100vh;
  width: 100%;
  background-color: rgb(236, 238, 254);
  display: flex;
  justify-content: center;
  font-family: 'nunito';
}

.logo {
  position: absolute;
  top: 75px;
  left: 75px;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  width: 680px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container-content {
  width: 90%;
  height: 90%;
}

.arrow-container {
  padding: 8px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  margin: 8px 0px;
  cursor: pointer;
}

.arrow-container:hover img {
  filter: invert(23%) sepia(83%) saturate(7496%) hue-rotate(237deg) brightness(96%) contrast(99%);
}

.arrow-container:hover {
  background-color: rgb(236, 238, 254);
}

.text-container {
  overflow: scroll;
  height: 80%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    font-size: 46px;
    margin: 32px 0px;
    color: #444df2;
    font-weight: 700;
    word-break: break-word;
    line-height: 1;
  }
  h3 {
    font-size: 32px;
    margin: 8px 0px;
    color: #444df2;
    font-weight: 700;
    line-height: 1;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1921px) {
  .nav-container {
    width: 90%;
    padding: 16px;
  }
}

@media screen and (max-width: 801px) {
  .inner-container {
    width: 90%;
    height: 90%;
  }
  .text-container {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 17px;
    }
  }
}

@media (max-width: 410px) {
  .inner-container {
    width: 100%;
    height: 100%;
  }

  .inner-container-content {
    height: 95%;
  }

  .text-container {
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 17px;
    }
  }
}
