@media (max-width: 550px) {
}

@media (max-width: 500px) {
  .mention-panel {
    box-sizing: border-box;
    width: 100%;
  }

  .list {
    max-height: 150px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .mention-panel {
    max-height: 150px;
  }
}

@media (max-width: 400px) {
  .mention-panel {
    padding: 15px 16px 15px 16px;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 0px;
  }

  .mention-panel .list {
    max-height: 200px;
  }
}
