@media (max-width: 550px) {
}

@media (max-width: 500px) {
  .mention-panel {
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    padding: 15px 16px 15px 16px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .mention-panel {
    max-height: 150px;
  }
}

@media (max-width: 400px) {
  .mention-panel {
    max-height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #adb0d9;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
    padding: 15px 16px 15px 16px;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 0px;
  }

  .mention-panel .list {
    max-height: 200px;
  }
}
