.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  font-family: "nunito";
}

.modal-content {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 800px;
    height: auto;
    position: relative;
    p {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
    }
    h3 {
        font-size: 18px;
        font-weight: 700;
        color: #000000;
    }
    span {
        font-size: 18px;
        font-weight: 400;
        color: #686868;
    }
}

.modal-header {
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #000000;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 32px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
}


.close {
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
