@use 'mixins';

@use '../chat-interface-styles' as chat;

@include chat.chat-interface-base;

:host {
  height: 100%;
  width: 100%;
}

.chat-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 20px;
  height: 160px;
  width: 100%;
  gap: 20px;
  padding: 0 45px 0;
  box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  span{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}

.recipient-input {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.recipient-input input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  outline: none;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.recipient-input input:focus {
  border-color: #695df1;
}

.mention-popover {
  position: absolute;
  top: calc(100% + -5px);
  left: 0;
  right: 0;
  z-index: 30;
}

:host ::ng-deep app-mention-list.mention-popover .mention-panel {
  border-top-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.footer {
  width: 100%;
  padding: 0 35px 40px 35px;
  box-sizing: border-box;
}

.chat-info {
  line-height: 140%;
  width: 90%;
  @include mixins.text-style(
    $size: 20px,
    $color: #686868,
    $font-weight: 400,
    $font-family: 'Nunito'
  );

  > span {
    @include mixins.text-style(
      $size: 20px,
      $color: #686868,
      $font-weight: 700,
      $font-family: 'Nunito',
      $line-height: 1
    );
  }
}

.recipient-tag {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  @include mixins.text-style(
    $size: 20px,
    $color: #535af1,
    $font-weight: 400,
    $font-family: 'Nunito',
    $line-height: 1.4
  );

  &:hover {
    font-weight: 700;
  }
}

.message-item {
  width: 100%;
}

.message-timestamp {
  @include mixins.text-style(
    $size: 18px,
    $color: #000000,
    $font-weight: 400,
    $font-family: 'Nunito',
    $line-height: 1
  );
  white-space: nowrap;
}

.timestamp-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.timestamp-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.timestamp-bubble {
  border-radius: 30px;
  padding: 5px 15px;
  border: 1px solid #adb0d9;
}

.message {
  margin-left: 24px;
}
