
@media (max-width: 550px) {
  .chat-header {
    padding: 0 20px 0;
    height: 120px;
    gap: 12px;
  }
  
  .info-text {
    font-size: 20px;
  }
  
  .footer {
    width: 100%;
    padding: 0 8px 8px 8px;
  }
}

@media (max-width: 350px) {
  .info-text {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .info-text {
    top: 70%;
  }
}