<section class="members-dialog" (click)="stop($event)">
  <header class="dlg-header">
    <h3>Mitglieder</h3>
    <button class="dlg-close" (click)="close.emit()">✕</button>
  </header>

  <ul class="member-list">
    <li class="member-row" *ngFor="let m of members">
      <img class="member-avatar" [src]="m.avatar || 'assets/img-profile/profile.png'" [alt]="m.name || 'User'" />
      <div class="member-main">
        <div class="member-name">
          {{ m.name || 'Unbekannt' }}
          <span class="you" *ngIf="m.id === currentUserId">(Du)</span>
        </div>
      </div>
    </li>

    <li class="member-row add-members">
      <img src="/assets/icons/add-person-to-channel.svg" alt="">
      <button class="add-members-btn" (click)="addMembers.emit()">Mitglieder hinzufügen</button>
    </li>
  </ul>
</section>