.backdrop-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

header{
    margin-top: 75px;
    margin-left: 75px;
}