section {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 254);   
    display: flex;
    justify-content: center;
    font-family: "Nunito";
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 680px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-content {
    width: 90%;
    height: 90%;
}

.arrow-container {
    padding: 8px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    cursor: pointer;
}

.arrow-container:hover img {
  filter: invert(23%) sepia(83%) saturate(7496%) hue-rotate(237deg) brightness(96%) contrast(99%);
}

.arrow-container:hover {
    background-color: rgb(236,238,254);
}

.text-container-one {
    padding: 16px;
    h2 {
        font-size: 46px;
        margin: 32px 0px;
        color: #444DF2;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        font-weight: 400;
    }
}

.text-container-two {
    padding: 16px;
    h2 {
        font-size: 32px;
        margin: 8px 0px;
        color: #444DF2;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1921px) {
    .nav-container {
        width: 90%;
        padding: 16px;
    }
}

@media screen and (max-width: 801px) {
    .inner-container {
        width: 90%;
        height: 70%;
    }
    .text-container-one {
        h2 {
            font-size: 32px;
        }
        p {
            font-size: 17px;
        }   
    }
    .text-container-two {
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 17px;
        }  
    }
}

@media (max-width: 370px) {
    .inner-container {
        width: 100%;
        height: 100%;
    }

    .inner-container-content {
        height: 95%;
    }
}